
<div class="content-block">
  <form name="ProfileForm" class="form-horizontal" novalidate>
    <fieldset>

      <!-- Form Name -->
      <legend>Personal Information</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_fn">First Name</label>
        <div class="col-sm-4">
          <input type="text" placeholder="First Name" class="form-control" id="_fn"
            ng-model="$vm.profile.firstName" name="firstName" required>
          <ul class="errors" ng-messages="ProfileForm.firstName.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
        <label class="col-sm-2 control-label" for="_ln">Last Name</label>
        <div class="col-sm-4">
          <input type="text" placeholder="Last Name" class="form-control" id="_ln"
            ng-model="$vm.profile.lastName" name="lastName" required>
          <ul class="errors" ng-messages="ProfileForm.lastName.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_em">Email</label>
        <div class="col-sm-10">
          <input type="email" placeholder="Email" class="form-control" id="_em"
            ng-model="$vm.profile.email" name="email" required>
          <ul class="errors" ng-messages="ProfileForm.email.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_ag">Age</label>
        <div class="col-sm-4">
          <input type="number" placeholder="Age" class="form-control" id="_ag"
            ng-model="$vm.profile.age" name="age" required tt-age="{min: 18, max: 80}">
          <ul class="errors" ng-messages="ProfileForm.age.$error" ng-messages-include="views/default-messages.html">
            <li ng-message="age">Age must be between 18 and 80 years old</li>
          </ul>
        </div>
      </div>

    </fieldset>

    <fieldset>

      <!-- Form Name -->
      <legend>Address Details</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_al1">Line 1</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Address Line 1" class="form-control" id="_al1"
            ng-model="$vm.profile.address.line1" name="addressLine1" required>
          <ul class="errors" ng-messages="ProfileForm.addressLine1.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_al2">Line 2</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Address Line 2" class="form-control" id="_al2"
            ng-model="$vm.profile.address.line2" name="addressLine2">
          <ul class="errors" ng-messages="ProfileForm.addressLine2.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_ac">City</label>
        <div class="col-sm-10">
          <input type="text" placeholder="City" class="form-control" id="_ac"
            ng-model="$vm.profile.address.city" name="addressCity" required>
          <ul class="errors" ng-messages="ProfileForm.addressCity.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="_as">State</label>
        <div class="col-sm-4">
          <input type="text" placeholder="State" class="form-control" id="_as"
            ng-model="$vm.profile.address.state" name="addressState" required>
          <ul class="errors" ng-messages="ProfileForm.addressState.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>

        <label class="col-sm-2 control-label" for="_pc">Postcode</label>
        <div class="col-sm-4">
          <input type="text" placeholder="Post Code" class="form-control" id="_pc"
            ng-model="$vm.profile.address.postcode" name="addressPostcode" required>
          <ul class="errors" ng-messages="ProfileForm.addressPostcode.$error" ng-messages-include="views/default-messages.html"></ul>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <a class="btn btn-default" ng-href="#/" ng-disabled="ProfileForm.$pristine">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
  <pre ng-show="showAppDebug">{{ProfileForm | json}}</pre>
</div>

